
<!doctype html>
<html>    
	<head>
		<title>This is the title of the webpage!</title>      
	</head>    
	<h1> This is about page </h1>    
	<body>     
		<p>This is an example paragraph.</p>    
	</body>    
	<form action="/customerAdded" method="POST">
		<input id="addName" type="text" name="name" placeholder="Test"> 	 
		<input id="addAddress" type="text" name="address" placeholder="Test">      
		<input id="propertyID" type="text" name="property_id" placeholder="ID">
		<input id="propertyPrice" type="text", name="property_price" placeholder="ID">
		<button type="submit">Submit</button>     
	</form> 
</html>
