
<!doctype html>
<html>    
	<head>
		<title>This is the title of the webpage!</title>      
	</head>    
	<h1> This is about page </h1>    
	<body>     
		<p>This is an example paragraph.</p>    
	</body>    
	<form action="/claimToEdit" method="POST">
		<input id="ID" type="text" name="id" placeholder="ID"> 	 
		<input id="damage" type="text" name="damage" placeholder="Damage Value:">
		<input id="damageType" type="text" name="type" placeholder="Damage Type:">
	        <input id="year" type="text" name="year" placeholder="Year" maxlength="4">
		<button type="submit">Submit Changes</button>     
	</form> 
</html>
